@font-face {
    font-family: Lufga;
    src: url("./font/LufgaThin.woff2");
    font-weight: 100;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaExtraLight.woff2");
    font-weight: 200;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaLight.woff2");
    font-weight: 300;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaRegular.woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaMedium.woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaSemiBold.woff2");
    font-weight: 600;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaBold.woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaExtraBold.woff2");
    font-weight: 800;
  }
  @font-face {
    font-family: Lufga;
    src: url("./font/LufgaBlack.woff2");
    font-weight: 900;
  }
  